/* Patients css file */
*{
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    width: 100vw;
    justify-content: center;
}

h2{
    color: black;
    font-weight: 100;
}

main > div.main-content{
    width: 80vw;
}

body > header{
    background-color:rgb(233, 84, 32);
    color: white;
}

a.navbar-brand ,a.nav-link active, a.nav-link  {
    color: white;
}

#small{
    color: rgba(210, 198, 198, 0.719);
}




body >footer{
    display: flex;
    height: 5vh;
    background-color: gainsboro;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer div.left-footer{
    /* inorder to divide the footer into two parts  */
    width: 50vw;
    /* inorder to make visible in the window instead of hiding part of its sides */
    margin-left: 2em;
    flex: 1;
}

footer div.right-footer{
    /* to make is flexible the right footer */
    display: flex;
    width: 50vw;
    /* inorder to make it to move it to the end of th page because it will be in the center */
    justify-content: flex-end;
    margin-right: 2em;
    flex: 1;

}

#one{
    background-color: rgba(128, 128, 128, 0.475);
    border-radius: 3px;
    padding-right: 3em;
    padding-left: 3em;
    margin-right: 1em;
    margin-top: 10em;
}

#two{
    background-color: rgb(189, 39, 39);
    border-radius: 5px;
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 10em;
}